body { 
  background-color: #EADDE1;
  color: #313B72;
  font-family: Calibri; 
}
#content {
  background-color: #7EE081;
  font-size: 110%;
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  
  border-top-right-radius: 20px;
    border-top-left-radius: 30px;
}
#content-head {
  border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  background-color: #71C974; 
  font-size: 125%;
  text-align: center;
}  #logo{
    position: absolute;
    right:10px;
    bottom: 10px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    width: 70%;
    max-width:960px;
    margin:0 auto;
}

li {
  float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}
