body { 
  background-color: #EADDE1;
  color: #313B72;
  font-family: Calibri; 
}
#content {
  background-color: #7EE081;
  font-size: 110%;
  width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#content-head {
  background-color: #71C974; 
  font-size: 125%;
  text-align: center;
}  
nav {
 margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    line-height: 1;
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
      background: #3db2e1;
      display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
    font-family: Raleway, sans-serif;
    line-height: 1;
}
